//- carousel
div.main-img
	img(src="/imgs/header/kuss.jpg", alt="Brittany and CJ on Lookout Mountain")
	//- div#gallery.carousel.slide(data-ride="carousel")
	//- 	ol.carousel-indicators
	//- 		each image, i in theme.header.bigimgs
	//- 			if (i === 0)
	//- 				li.active(data-target="#gallery", data-slide-to=i)
	//- 			else
	//- 				li(data-target="#gallery", data-slide-to=i)
	//- 	div.carousel-inner(role="listbox")
	//- 		each image, i in theme.header.bigimgs
	//- 			if (i === 0)
	//- 				div.item.active
	//- 					img(src=image.src)
	//- 			else
	//- 				div.item
	//- 					img(src=image.src)
	//- 	a.left.carousel-control(href="#gallery", role="button", data-slide="prev")
	//- 		span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
	//- 	a.right.carousel-control(href="#gallery", role="button", data-slide="next")
	//- 		span.glyphicon.glyphicon-chevron-right(aria-hidden="true")